
::selection { background: #5339e6; color: #fff;}
a:hover { color:#000; text-decoration: none; outline: 1px dashed #5339e6;}

nav { width:100%;
      height: 60px;
      display: table !important;
      position: fixed;
      z-index: 999;
}
nav span {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      padding-right: 40px;
 }
nav a {
      font-size: 18px;
      font-weight: 800;
      font-family: 'Montserrat', sans-serif;
      color:#5339e6;
      margin-right: 30px;
}
.name {
        height: 40px;
        z-index: 999;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 1px;
        line-height: 80px;
        color:#5339e6;
        margin-left: 60px;
}

#container { margin:0 60px; }

.intro { position: relative; width:100%; height: 400px;}
.intro_txt { position: absolute; right:130px; top:200px; }
.intro_txt h2, .intro_txt h2 a{
         text-align: right;
         font-size:19px;
         line-height: 28px;
         margin:0;
         font-family: 'Noto Sans KR', sans-serif;
         font-weight: 700;
         letter-spacing: -1px;
         color:#000;
}
.section01 { width:100%; height: 1000px; visibility: inherit;}
.dr3_article01 {
  position:absolute;
  width:34%;
  min-width:300px;
  left: 15%;
  font-family: 'Noto Sans KR', sans-serif;
  visibility: inherit;
}
.a01 {
  position: absolute;
}

.dr3_article01 > .category {
  position: absolute;
  top:-26px;
  right: 100%;
  padding-bottom: 8px;
  font-size: 14px;
  color:#666;
  white-space: nowrap;
    transform: rotate(-90deg);
    transform-origin: right bottom;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right bottom;
}

.a01_img img {width:100%; margin: auto; min-width: 300px; }
.a01_name { margin-top: -40px;}
.a01_name h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  line-height: 37px;
  font-weight: 800;
  padding-left: 20px;
  color:#000;
 }
.a01_name h3 {
  font-size: 18px;
  font-weight: 800;
  color:#000;
  text-align: right;
  padding-right: 45px;
}

.a01_list li a {
  list-style: none;
  color: #000;
  text-decoration: none;
  font-size: 19px;
  line-height: 27px;
}

.dr3_article02 {
  width: 46%;
  min-width:300px;
  height: 500px;
  position: absolute;
  right: 0;
}
.a02 {
  position: relative;
  top:50%;
}
.a02_img {
  width: 100%;
  position: absolute;
}
.a02_img a img{ width:100%; min-width: 300px;}

.a02_img p:nth-child(1) {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #000;
  top: 10px;
  left: 10px;
}

.a02_img p:nth-child(2) {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #000;
  top: 10px;
  right: 10px;
}
.Title{
  margin-top:-50px;
  margin-left: 2%;
}
.Title a {
  color: #000;
  font-size:55px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  line-height: 70px;

}

/*--- Catalina --->
